$project-red: #800000;
$icon-rose: #ff4d4d;
$project-blue: #00264d;
$project-gold: #ffa31a;


* {
  box-sizing: border-box;
};

$phone_portrait: "(max-width: 575px) and (orientation: portrait)";
$phone_landscape: "(min-width: 576px) and (max-width: 767px) and (orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px)";

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("../images/Mosaic_background.png");
  background-size: cover;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  .heading {
    font-size: 40px;
    font-weight: 900;
    color: $project-red;
    text-shadow: 2.5px 2.5px 4.5px $project-gold;
    text-transform: uppercase;
    margin: 0px 0px 25px 0;
  }

  @keyframes moving-rock {
    0% {transform:  rotate(0deg) scale(1);}
    50% {transform: rotate(180deg) scale(1.10);}
    100% {transform: rotate(0deg) scale(1.15);}
  }

  @keyframes moving-paper {
    0% {transform:  rotate(0deg) scale(1);}
    50% {transform: rotate(180deg) scale(1.10);}
    100% {transform: rotate(0deg) scale(1.15);}
  }

  @keyframes moving-scissors {
    0% {transform:  rotate(0deg) scale(1);}
    50% {transform: rotate(180deg) scale(1.10);}
    100% {transform: rotate(0deg) scale(1.15);}
  }

  .first {
    div {
      @extend .heading;
      background-color: $icon-rose;
      display: flex;
      justify-content: center;
      .game_icon{
        width: 50px;
        height: 50px;
        margin-right: 5px;
        &.animated{
          animation: moving-rock  1.5s 1;
        }
      }
    }
  }
  .second {
    div {
      @extend .heading;
      background-color: $icon-rose;
      display: flex;
      justify-content: center;
      .game_icon{
        width: 50px;
        height: 50px;
        &.animated{
          animation: moving-paper 1.5s 1;
        }
      }
    }
  }
  .third {
    div {
      @extend .heading;
      background-color: $icon-rose;
      display: flex;
      justify-content: center;
      .game_icon{
        width: 50px;
        height: 50px;
        &.animated{
          animation: moving-scissors 1.5s 1;
        }
      }
    }
  }
  .btn {
    padding: 15px 20px 15px 15px;
    max-width: 25%;
    width: 24%;
    max-height: 31%;
    height: 30%;
    margin: 5px;
    font-size: 30px;
    color: #fff;
    background-color: $project-blue;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s linear;
    &:hover{
      color: $icon-rose;
      transform: scale(1.1);
      font-weight: 800;
      background-color: #004d99;
    }
    &:focus{
      border: none;
      color: $project-gold;
      text-shadow: none;
    }
  }
  i {
    font-size: 60px;
    color: $project-blue;
  }
}

#js-resultsTableElement {
  .col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        span {
          font-size: 20px;
          font-weight: 700;
          color: $project-red;
          text-shadow: none;
          text-transform: uppercase;
        }

        i {
          font-size: 60px;
        }
        .game-stopped-winner {
          display: inline-block;
          color: $project-gold;
          transition: 1s linear;
          transform: rotateY(360deg) scale(0.90);
        }
        .game-stopped-looser {
          display: inline-block;
          color: $project-red;
          transition: 1s linear;
          transform: rotateY(360deg) scale(1.25);
        }
        h2 {
          font-size: 20px;
          font-weight: 900;
          color: $project-blue;
          text-transform: capitalize;
        }

    .name {
        font-size: 20px;
        font-weight: 700;
        color: $project-blue;
        text-shadow: none;
        text-transform: uppercase;
        }

    .badge {
        background: linear-gradient(to bottom right, $project-gold, #e68a00, #995c00);
        width: 70px;
        height: 70px;
        color: $project-red;
        padding: 15px;
        margin: 25px;
        font-size: 35px;
        border-top: 5px solid $project-gold;
        border-left:  5px solid $project-gold;
        border-bottom:  5px solid #4d2e00;
        border-right:  5px solid #4d2e00;
      }
    .score {
      @extend .name;
      color: $project-red;
      }
    }
 #versus {
    font-size: 20px;
    font-weight: 700;
    color: $project-red;
    text-transform: uppercase;
  }
}

  @media#{$phone_portrait} {
    .container{
      .heading {
        font-size: 20px;
        letter-spacing: 0.5px
      }
      @keyframes moving-rock {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-paper {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-scissors {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }
      .label {
        padding: 5px;
      }
      .first {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        div.label {
          font-size: 16px;
          width: 100%;
          .game_icon {
            width: 20px;
            height: 20px;
            margin-right: 2.5px;
            &.animated {
              animation: moving-rock  1.5s 1;
            }
          }
        }
      }
      .second {
          margin: 0 auto;
          display: flex;
          justify-content: flex-end;
          margin: 0;
          div.label {
            font-size: 16px;
            width: 100%;
            .game_icon {
              width: 20px;
              height: 20px;
              &.animated {
                animation: moving-paper  1.5s 1;
              }
            }
          }
        }
        .third {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin: 0;
            div {
              font-size: 16px;
              .game_icon {
                width: 20px;
                height: 20px;
                &.animated {
                  animation: moving-scissors  1.5s 1;
                }
            }
          }
        }
        .btn {
          padding: 15px 20px 15px 15px;
          max-width: 50%;
          width: auto;
          max-height: 25%;
          height: 24%;
          margin: 5px;
          font-size: 20px;
        }

        i {
          font-size: 20px;
        }
    }
    #js-resultsTableElement {
      .col-xs-4 {
        .name {
          font-size: 16px;
        }
        span {
          font-size: 16px;
        }
        .score {
          font-size: 16px;
        }
        .badge {
            width: 35px;
            height: 35px;
            padding: 7.5px;
            margin: 12.5px;
            font-size: 18px;
            border-top: 2.5px solid $project-gold;
            border-left:  2.5px solid $project-gold;
            border-bottom:  2.5px solid #4d2e00;
            border-right:  2.5px solid #4d2e00;
        }
        i {
            font-size: 30px;
        }
      }
    }
  }

  @media#{$phone_landscape} {
    .container {
      padding: 0px;
      .heading {
        font-size: 20px;
        letter-spacing: 0.5px
      }
      @keyframes moving-rock {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-paper {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-scissors {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }
      .label {
        padding: 5px;
      }
      .first {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        div {
          font-size: 18px;
          .game_icon {
            width: 20px;
            height: 20px;
            margin-right: 2.5px;
            &.animated {
              animation: moving-rock  1.5s 1;
            }
          }
        }
      }
      .second {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          margin: 0;
          div {
            font-size: 18px;
            .game_icon {
              width: 20px;
              height: 20px;
              &.animated {
                animation: moving-paper  1.5s 1;
              }
            }
          }
        }
        .third {
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            margin: 0;
            div {
              font-size: 18px;
              .game_icon {
                width: 20px;
                height: 20px;
                &.animated {
                  animation: moving-scissors  1.5s 1;
                }
            }
          }
        }
        .btn {
          padding: 15px 20px 15px 15px;
          max-width: 50%;
          width: auto;
          max-height: 25%;
          height: 24%;
          margin: 5px;
          font-size: 20px;
        }

        i {
          font-size: 20px;
        }
    }
    #js-resultsTableElement {
      .col-sm-4 {
        .name {
          font-size: 16px;
        }
        span {
          font-size: 16px;
        }
        .badge {
            width: 35px;
            height: 35px;
            padding: 7.5px;
            margin: 12.5px;
            font-size: 18px;
            border-top: 2.5px solid $project-gold;
            border-left:  2.5px solid $project-gold;
            border-bottom:  2.5px solid #4d2e00;
            border-right:  2.5px solid #4d2e00;
          }
        .score {
          font-size: 16px;
        }
        i {
          font-size: 30px;
        }
      }
    }
  }
  @media#{$tablet} {
    .container {
      padding: 15px;
      .heading {
        font-size: 30px;
        letter-spacing: 0.5px
      }
      @keyframes moving-rock {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-paper {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }

      @keyframes moving-scissors {
        0% {transform:  rotate(0deg) scale(1);}
        50% {transform: rotate(180deg) scale(1.10);}
        100% {transform: rotate(0deg) scale(1.15);}
      }
      .label {
        padding: 5px;
      }
      .first {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        div {
          font-size: 30px;
          .game_icon {
            width: 30px;
            height: 30px;
            &.animated {
              animation: moving-rock  1.5s 1;
            }
          }
        }
      }
      .second {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          margin: 0;
          div {
            font-size: 30px;
            .game_icon {
              width: 30px;
              height: 30px;
              &.animated {
                animation: moving-paper  1.5s 1;
              }
            }
          }
        }
        .third {
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            margin: 0;
            div {
              font-size: 30px;
              .game_icon {
                width: 30px;
                height: 30px;
                &.animated {
                  animation: moving-scissors  1.5s 1;
                }
            }
          }
        }
        .btn {
          padding: 15px 20px 15px 15px;
          max-width: 50%;
          width: auto;
          max-height: 31%;
          height: 30%;
          margin: 5px;
          font-size: 30px;
        }

        i {
          font-size: 30px;
        }
    }
    #js-resultsTableElement {
      .col-sm-4 {
        .name {
          font-size: 20px;
        }
        span {
          font-size: 20px;
        }
        .badge {
            width: 50px;
            height: 50px;
            padding: 12px;
            margin: 18px;
            font-size: 25px;
            border-top: 2.5px solid $project-gold;
            border-left:  2.5px solid $project-gold;
            border-bottom:  2.5px solid #4d2e00;
            border-right:  2.5px solid #4d2e00;
          }
        .score {
          font-size: 20px;
        }
        i {
          font-size: 30px;
        }
      }
    }
  }
